body,
html {
  margin: 0;
  padding: 0;
  min-height: 100%; /* Ensure full viewport height */
  font-family: "Roboto", sans-serif;
  background-color: #f9f9f9;
}

.container {
  width: 90%; /* Maintain current width */
  max-width: 600px;
  margin: 20px auto; /* Add gap at top and bottom */
  padding: 20px; /* Maintain padding inside the container */
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  box-sizing: border-box; /* Include padding in width/height calculations */
}

.image-placeholder img {
  max-width: 100%;
  max-height: 30vh; /* Keep consistent scaling */
  object-fit: contain;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.text {
  font-size: 18px;
  margin: 20px 0;
  color: #333;
}

.options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  margin: 0 auto;
  width: 100%;
}

.options button {
  padding: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.options button:hover {
  background-color: #0056b3;
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.navigation-buttons button {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.navigation-buttons .prev-button {
  background-color: #6c757d;
  color: white;
}

.navigation-buttons .prev-button:hover {
  background-color: #5a6268;
}

.navigation-buttons .next-button {
  margin-left: auto;
  background-color: #28a745;
  color: white;
}

.navigation-buttons .next-button:hover {
  background-color: #218838;
}

.quiz-button {
  display: block;
  margin: 20px auto;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: white;
  background-color: #5fb5f9;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
}
.quiz-button:hover {
  background-color: #0056b3;
  transform: translateY(-3px) scale(1.05);
}
.quiz-button:active {
  transform: translateY(1px) scale(0.95);
}

footer {
  margin-top: 20px;
  color: #6c757d;
  font-size: 14px;
  font-family: "Arial", sans-serif;
  text-align: right;
}
